<section class="bg-wakwak" id="amplop">
    <div class="container py-5">
      <div class="row text-center justify-content-center">
        <div class="col-12 mb-5" data-aos="zoom-in" data-aos-duration="1300">
          <div class="card bg-berem shadow text-white mb-2 w-75 p-2 mx-auto">
            <h1 class="font-dancing fs-40">Amplop Digital</h1>
          </div>
        </div>
        <div class="col-lg-8 col-md-10 col-12 mb-5" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="500">
          <p class="p-0 m-0">Doa Restu Anda merupakan karunia yang sangat berarti bagi kami.</p>
        </div>
        <div class="col-md-6 mb-3 blur" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1000">
          <div class="card bg-fee rounded-3 shadow p-3">
            <img src="img/bni.png" height="50px" alt="" class="mx-auto" />
            <hr />
            <p><span><input type="text" value="1368855496" class="bg-fee norek" id="rek1" readonly /></span> a/n Asha Aprilia Putri</p>
            <div>
              <button class="btn bg-berem text-white btn-outline-secondary rounded-pill" id="salin1">
                <div class="mx-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-clipboard2-check-fill mb-1" viewBox="0 0 16 16">
                    <path
                      d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z" />
                    <path
                      d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5Zm6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708Z" />
                  </svg>
                  Salin
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>