<section class="bg-wakwak">
    <div class="container py-5">
      <div class="row text-center fw-bold justify-content-center" data-aos="zoom-in" data-aos-duration="1300">
        <div class="col-lg-9 col-md-11 col-12">
          <p class="fw-light">
            "Dan diantara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu
            sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan
            sayang. Sungguh,
            pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir "
          </p>
          <p>- QS. Ar-Rum 21 -</p>
        </div>
      </div>
    </div>
  </section>