<section class="bg-wakwak" id="mempelai">
    <div class="container py-5">
      <div class="row text-center justify-content-center">
        <div class="col-12 mb-5" data-aos="zoom-in" data-aos-duration="1300">
          <img src="img/bismillah.png" alt="" width="200px" class="mb-3" />
          <h5 class="mb-3">Assalamualaikum Wr. Wb.</h5>
          <p class="m-0 p-0">Tanpa mengurangi rasa hormat</p>
          <p class="m-0 p-0">Kami mengundang Bapak/Ibu/Saudara/i serta kerabat sekalian untuk menghadiri acara
            pernikahan kami</p>
        </div>
        <div class="col-md-5 col-12 my-md-4 my-3" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1100">
          <img src="img/img9.jpg" class="rounded-circle shadow-lg border-white mb-3" alt="" width="200px" />
          <h1 class="font-dancing text-dark fs-45">Asha Aprilia Putri</h1>
          <p class="m-0 p-0">Putri Bungsu</p>
          <p class="m-0 p-0">Bapak Asep Suryadi & Ibu Lia Yuliawati</p>
        </div>
        <div class="col-md-2 col-12 m-md-auto my-5" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="600">
          <h1 class="m-0 p-0 font-dancing">&</h1>
        </div>
        <div class="col-md-5 col-12 my-md-4 my-3" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="500">
          <img src="img/img8.jpg" class="rounded-circle shadow-lg border-white mb-3" alt="" width="200px" />
          <h1 class="font-dancing text-dark fs-45">Bagus Aji Santoso, S.Pd.</h1>
          <p class="m-0 p-0">Putra Pertama</p>
          <p class="m-0 p-0">Bapak Susanto, S.Pd. & Ibu Eni Ruminingsih, S.Pd.SD</p>
        </div>
      </div>
    </div>
  </section>