<section class="bg-wakwak">
    <div class="container py-5">
      <div class="row text-center">
        <div class="col-12 mb-5" data-aos="zoom-in" data-aos-duration="1300">
          <h1 class="font-dancing fs-40">Cerita Kita</h1>
        </div>
        <div class="col-12">
          <div class="row mb-5 justify-content-center" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="500" data-aos-offset="0">
            <div class="d-none d-md-block col-md-5"></div>
            <div class="col-md-1 col-2">
              <div class="card rounded-3 bg-fee border-light w-50 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger mx-auto my-2" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
              </div>
            </div>
            <div class="col-md-5 col-10"> 
              <div class="card bg-berem rounded-3 text-white p-3 text-start shadow">
                <h3 class="font-playball">Awal Bertemu</h3>
                <p>2021, Awal pertemuan dengan pasangan bertepat di acara Konser Nidji, di Jakarta</p>
              </div>
            </div>
          </div>
          <div class="row mb-5 justify-content-center" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="750" data-aos-offset="0">
            <div class="d-none d-md-block col-md-5">
              <div class="card bg-berem rounded-3 text-white p-3 text-start shadow">
                <h3 class="font-playball">Lamaran</h3>
                <p>12 Mei 2023, tepat di ulang tahun saya, saya pun di lamar...ihh seneng banget</p>
              </div>
            </div>
            <div class="col-md-1 col-2">
              <div class="card rounded-3 bg-fee border-light w-50 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger mx-auto my-2" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
              </div>
            </div>
            <div class="d-none d-md-block col-md-5"></div>
            <div class="col-10 d-md-none">
              <div class="card bg-berem rounded-3 text-white p-3 text-start shadow">
                <h3 class="font-playball">Lamaran</h3>
                <p>12 Mei 2023, tepat di ulang tahun saya, saya pun di lamar...ihh seneng banget</p>
              </div>
            </div>
          </div>
          <div class="row mb-5 justify-content-center" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1000" data-aos-offset="0">
            <div class="d-none d-md-block col-md-5"></div>
            <div class="col-md-1 col-2">
              <div class="card rounded-3 bg-fee border-light w-50 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill text-danger mx-auto my-2" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
              </div>
            </div>
            <div class="col-md-5 col-10">
              <div class="card bg-berem rounded-3 text-white p-3 text-start shadow">
                <h3 class="font-playball">Akad Nikah</h3>
                <p>Akhirnya di tanggal 4 Meret 2024, Hari yang di mana aku tungggu-tungggu, akhirnya bisa seranjang sama si doi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>