<style>
  .bg-kulit {
      margin-bottom: 20px;
      padding-bottom: 20px;
  }
</style>

<footer class="bg-kulit">
    <div class="container pb-5">
      <div class="row text-center">
        <div class="col-12">
          <small class="p-0 m-0">
            Original Design by <a class="text-decoration-none text-dark">Teh botol sosro</a>
          </small>
        </div>
        <small class="p-0 m-0">
          <i class="bi bi-github"></i> <a class="text-decoration-none" target="_blank" href="https://adisupiansah.github.io/">My website</a> | <i class="bi bi-instagram"></i> <a class="text-decoration-none" target="_blank" href="https://www.instagram.com/adi.spiansyh/">@adi.spiansyh</a>

        </small>
      </div>
    </div>
  </footer>