<header class="bg-wakwak" id="home">
    <div class="d-flex justify-content-center align-items-center vh-100"
      style="background-image: url(img/img7.png); background-size: cover">
      <div class="container">
        <div class="row text-center">
          <div class="col-12 mt-5">
            The Wedding of
            <h1 class="font-dancing fs-60">Asha & Bagus</h1>
            <p>Senin, 04 Maret 2024</p>
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="row mb-3">
                  <div class="col-3 m-0 p-1">
                    <div class="card p-2 my-auto rounded-4 bg-berem text-white">
                      <p class="p-0 m-0" id="hari"></p>
                      Hari
                    </div>
                  </div>
                  <div class="col-3 m-0 p-1">
                    <div class="card p-2 my-auto rounded-4 bg-berem text-white">
                      <p class="p-0 m-0" id="jam"></p>
                      Jam
                    </div>
                  </div>
                  <div class="col-3 m-0 p-1">
                    <div class="card p-2 my-auto rounded-4 bg-berem text-white">
                      <p class="p-0 m-0" id="menit"></p>
                      Menit
                    </div>
                  </div>
                  <div class="col-3 m-0 p-1">
                    <div class="card p-2 my-auto rounded-4 bg-berem text-white">
                      <p class="p-0 m-0" id="detik"></p>
                      Detik
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>