<section class="bg-wakwak">
    <div class="container py-5">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 mb-5" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1750">
          <h1 class="font-dancing fs-40">Protokol Kesehatan</h1>
          <p class="">Guna mencegah penyebaran Covid-19, diharapkan bagi tamu undangan untuk mematuhi Protokol
            Kesehatan di bawah ini:</p>
        </div>
        <div class="col-lg-8 col-md-10 col-12">
          <div class="row justify-content-center" data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="2000">
            <div class="col-4">
              <img src="img/cuci-tangan-2.png" class="scale" width="100px" alt="" />
              <p class="text-sm">Cuci Tangan</p>
            </div>
            <div class="col-4">
              <img src="img/pakai-masker.png" class="scale" width="100px" alt="" />
              <p class="text-sm">Gunakan Masker</p>
            </div>
            <div class="col-4">
              <img src="img/jaga-jarak-2.png" class="scale" width="100px" alt="" />
              <p class="text-sm">Jaga Jarak</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>