<section class="bg-wakwak">
    <div class="container py-5">
      <div class="row text-center justify-content-center">
        <div class="col-lg-9 col-md-11 col-12">
          <div data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1000">
            <img src="img/img10.jpg" class="rounded-circle shadow-lg border-white mb-3" alt="" width="200px" />
            <p class="m-0 p-0 mb-3">Merupakan suatu kehormatan dan kebahagiaan bagi kami, apabila Bapak/Ibu/Saudara/i
              berkenan hadir dan memberikan doa restu. Atas kehadiran dan doa restunya, kami mengucapkan terima kasih.
            </p>
            <h5 class="mb-5">Wassalamualaikum Wr. Wb.</h5>
          </div>
          <div data-aos="zoom-in" data-aos-duration="1300" data-aos-delay="1250">
            <h1 class="font-dancing fs-60">Asha Aprilia Putri</h1>
            <h1 class="font-dancing fs-60">&</h1>
            <h1 class="font-dancing fs-60">Bagus Aji Santoso, S.Pd.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>